.HabitBox {
    height: 100%;
    background-color: #F5EFE7;
    font-family: 'Helvetica Neue';
    padding-bottom: 20%;
}

.Homepage-return-button {
    text-align: left;
    padding-top: 2vh;
    padding-left: 2vw;
    font-weight: 800;
    text-decoration: none;
}

.HabitBox-title {
    margin: auto; 
    padding-top: 4vh;
    text-align: center;
    font-size: calc(14px + 3vmin);
    font-weight: 400;
    color: #213555;
}

.HabitBox-total {
    margin: auto; 
    padding-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(32px + 5vmin);
    font-weight: 800;
    color: #213555;
}

.HabitBox-multiplier {
    display: flex;
    padding-bottom: 2vh;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    font-weight: 400;
    color: #213555;
}


.HabitBox-refresh {
    width: 3vw;
    margin-left: 1.5vw;
    padding-top: 1vh;
    cursor: pointer; 
}

.HabitBox-quick-button{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HabitBox-quick-button-border {
    height: 6vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8C4B6;
    color: #213555;
    font-size: calc(8px + 1vmin);
    font-weight: 800;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer; 
}

.HabitBox-custom-button {
    margin: auto;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #213555;
    font-size: calc(8px + 1vmin);
    font-weight: 800;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer; 
}


.HabitBox-custom-input {
    height: 6vh;
    width: 30%;
    border: none; /* Removes the default border */
    border-bottom: 2px solid #213555; /* Adds an underline */
    background-color: #F5EFE7;
    text-align: center;
}

.HabitBox-custom-trigger {
    height: 6vh;
    width: 30%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8C4B6;
    color: #213555;
    font-size: calc(8px + 1vmin);
    font-weight: 800;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer; 
}

