.BobaBox {
  height: 100%;
  background-color: #f3eeea;
  font-family: 'Helvetica Neue';
  padding-bottom: 10%;
}

.Homepage-return-button {
  text-align: left;
  padding-top: 2vh;
  padding-left: 2vw;
  font-weight: 800;
  text-decoration: none;
}

.BobaBox-title {
  margin: auto;
  padding-top: 4vh;
  text-align: center;
  font-size: calc(14px + 3vmin);
  font-weight: 800;
  font-family: 'Helvetica Neue';
  color: #22223b;
}

.BobaBox-body {
  text-align: justify;
  padding-top: 2vh;
  padding-left: 18%;
  padding-right: 18%;
  font-size: calc(4px + 2vmin);
  font-weight: 300;
}

.BobaBox-link {
  color: #22223b;
}

.BobaBox-showdown {
  padding-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BobaBox-versus-box {
  font-size: calc(16px + 3vmin);
  font-weight: 800;
  font-family: 'Helvetica Neue';
  color: #22223b;
}

.BobaBox-contestant {
  text-align: center;
  width: 24%;
  aspect-ratio: 1 / 1;
  margin: 2%;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ebe3d5;
  border-color: #2d2d53;
  font-family: 'Helvetica Neue';
  border-radius: 16px;
  cursor: pointer;
}

.contestant-image {
  margin: auto;
  margin-bottom: 2%;
  height: 75%;
  border-radius: 16px;
}

.BobaBox-elo-rating {
  padding-top: 4%;
  font-size: calc(2px + 2vmin);
  font-weight: 400;
  font-family: 'Helvetica Neue';
  color: #22223b;
}

.BobaBox-skip-section {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BobaBox-skip {
  height: 6vh;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9fb69e;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.BobaBox-reset-scores {
  height: 6vh;
  width: 14vw;
  margin: auto;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9fb69e;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.BobaBox-rankings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
}

.BobaBox-ranking-title {
  text-align: center;
  font-size: calc(14px + 3vmin);
  font-weight: 800;
  font-family: 'Helvetica Neue';
  color: #22223b;
}

.BobaBox-refresh-box {
  height: 30px;
  width: 30px;
  margin-left: 1vw;
  padding-top: 3px;
  cursor: pointer;
}

.BobaBox-ranking-list {
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.BobaBox-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.BobaBox-picture-box {
  width: 15vw;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ebe3d5;
  border-color: #2d2d53;
  border-radius: 16px;
}

.item-image {
  height: 90%;
  border-radius: 16px;
}

.BobaBox-item-elo {
  margin-left: 3vw;
  font-size: calc(10px + 2vmin);
  font-weight: 500;
  font-family: 'Helvetica Neue';
  color: #22223b;
}
