/* Mobile */
@media (max-width: 768px) {
  .resolutions-app {
    /* Layout */
    padding: 8px 10px 0px 10px;
  }

  .logo {
    /* Typography */
    font-size: 12px;
  }

  .logo-text {
    /* Typography */
    font-size: 10px;
  }

  .info-options {
    /* Typography */
    font-size: 10px;
  }

  .info-option {
    /* Layout */
    margin-left: 6px;
  }

  .side-bar {
    /* Layout */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
    padding: 12px 0;
    z-index: 1000;

    /* Appearance */
    background-color: var(--cream);
  }

  .side-bar-icon {
    /* Layout */
    height: 18px;
    width: 18px;

    /* Interaction */
    cursor: pointer;
  }

  .app-body {
    /* Layout */
    width: 95vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .section {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-title {
    /* Typography */
    font-size: 20px;
  }

  .section-explanation {
    /* Typography */
    font-size: 12px;
  }

  .habits-image-container {
    /* Layout */
    width: 100%;
  }

  .suggestions-title {
    /* Typography */
    font-size: 18px;
  }

  .suggestions-subtitle {
    /* Typography */
    font-size: 10px;
    font-weight: bold;
  }

  .suggestions-list {
    /* Typography */
    font-size: 10px;
  }

  .habits-image-container-creation {
    /* Layout */
    width: 100%;
  }

  .habit-box {
    /* Layout */
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .quote-box {
    /* Layout */
    padding-bottom: 1vh;

    /* Typography */
    font-size: 10px;
  }

  .question-box {
    /* Layout */
    padding-top: 1vh;

    /* Typography */
    font-size: 12px;
  }

  .question-section {
    /* Layout */
    padding-bottom: 1vh;

    /* Typography */
    font-size: 14px;
  }

  .habit-content-box {
    /* Typography */
    font-size: 14px;
  }

  .habits-button {
    /* Layout */
    padding-top: 3vh;
    padding-right: 0px;
    padding-bottom: 0px;

    /* Typography */
    font-size: 14px;
  }

  /* HABITS VIEW MODULE */
  .habits-view {
    /* Layout */
    height: 450px;
    width: 100%;
  }

  .habits-view-container {
    /* Layout */
    height: 85%;
  }

  .habits-view-new-habit-button {
    /* Layout */
    height: 60px;

    /* Typography */
    font-size: 14px;
  }

  .habit-container {
    /* Layout */
    height: 70px;
    width: 95%;
    margin-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .habit-snippet-box {
    /* Layout */
  }

  .habit-snippet-statement {
    /* Typography */
    font-size: 12px;
  }

  .habit-health-percentage {
    /* Typography */
    font-size: 14px;
  }

  .calendar-title-text {
    /* Typography */
    font-size: 12px;
  }

  .calendar-grid {
    /* Layout */
    display: grid;
    grid-template-columns: 3.5ch repeat(31, 1fr);
    max-width: 100vw;
    overflow: scroll;
  }

  .calendar-header-year {
    /* Layout */
    position: sticky;
    left: 0;
    z-index: 1;

    /* Typography */
    font-size: 10px;

    /* Appearance */
    background-color: var(--cream);
  }

  .calendar-month-title {
    /* Layout */
    grid-column: 1;
    position: sticky;
    left: 0;
    z-index: 1;

    /* Typography */
    font-size: 10px;

    /* Appearance */
    background-color: var(--cream);
  }

  .calendar-header-day {
    /* Typography */
    font-size: 10px;
  }

  .calendar-month {
    /* Layout */
    display: contents;
  }

  .calendar-month-days {
    /* Layout */
  }

  .calendar-day {
    /* Layout */
    width: 90%;
    align-self: center;

    /* Appearance */
    border: 1px solid var(--black);
    border-radius: 2px;
  }

  /* REWARD MODULE SECTION ------------------------------------- */
  .reward-box {
    /* Layout */
    margin-top: 12px;
    margin-left: 0px;
    padding-bottom: 8px;
  }

  .item-box {
    /* Layout */
    margin-top: 8%;
    margin-bottom: 8%;
  }

  /* AFFIRMATION SECTION ------------------------------------- */
  .affirmation-controller-box {
    /* Layout */
    margin-top: 25px;
    margin-left: 0px;
    padding-top: 14%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12%;
  }
}
