/* Mobile */
@media (max-width: 768px) {
  .resolutions-app {
    /* top right bottom left */
    padding: 8px 10px 0px 10px;
  }

  .logo {
    font-size: 12px;
  }

  .logo-text {
    font-size: 10px;
  }

  .info-options {
    font-size: 10px;
  }

  .info-option {
    margin-left: 6px;
  }

  .side-bar-icon {
    /* Layout */
    height: 18px;
    width: 18px;

    cursor: pointer;
  }

  .app-body {
    /* Layout */
    width: 95%;
    margin-right: 0vw;
    padding-left: 2vw;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-title {
    /* Appearance */
    font-size: 20px;
  }

  .section-explanation {
    font-size: 12px;
  }

  .habits-image-container {
    /* Layout */
    width: 100%;
  }

  .suggestions-title {
    /* Typography */
    font-size: 18px;
  }

  .suggestions-subtitle {
    /* Typography */
    font-size: 10px;
    font-weight: bold;
  }

  .suggestions-list {
    /* Typography */
    font-size: 10px;
  }

  .habits-image-container-creation {
    width: 100%;
  }

  .habit-box {
    /* Layout */
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .quote-box {
    /* Layout */
    padding-bottom: 1vh;

    /* Appearance */
    font-size: 10px;
  }

  .question-box {
    padding-top: 1vh;

    font-size: 12px;
  }

  .question-section {
    padding-bottom: 1vh;
    font-size: 14px;
  }

  .habit-content-box {
    font-size: 14px;
  }

  .habits-button {
    /* border: 1px solid var(--black); */
    padding-top: 3vh;
    font-size: 14px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  /* HABITS VIEW MODULE */
  .habits-view {
    height: 450px;
    width: 100%;
  }

  .habits-view-container {
    height: 85%;
  }

  .habits-view-new-habit-button {
    height: 60px;
    font-size: 14px;
  }

  .habit-container {
    height: 70px;
    width: 95%;
    margin-bottom: 2%;

    gap: 0;

    padding-left: 4%;
    padding-right: 4%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .habit-snippet-statement {
    /* border: 1px solid var(--black); */
    font-size: 12px;
  }

  .habit-health-percentage {
    /* border: 1px solid var(--black); */
    font-size: 16px;
  }

  .calendar-title-text {
    font-size: 12px;
  }

  .calendar-grid {
    max-width: 100vw;
    overflow: scroll;

    grid-template-columns: 3.5ch repeat(31, 1fr);
  }

  .calendar-header-year {
    font-size: 10px;
    position: sticky;
    left: 0;
    background-color: var(--cream);
    z-index: 1;
  }

  .calendar-month-title {
    font-size: 10px;
    position: sticky;
    left: 0;
    background-color: var(--cream);
    z-index: 1;
  }

  .calendar-header-day {
    font-size: 10px;
  }

  .calendar-month {
    display: contents;
  }

  .calendar-month-title {
    grid-column: 1;
  }

  .calendar-month-days {
  }

  .calendar-day {
    width: 90%;
    border: 1px solid var(--black);
    border-radius: 2px;
    align-self: center;
  }

  /* REWARD MODEUL SECTION ------------------------------------- */
  .reward-box {
    margin-top: 12px;
    margin-left: 0px;
  }
}
