@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
  --black: #191b15;
  --cream: #e7dfc6;
}

body {
  /* Appearance */
  background-color: var(--cream);
  color: var(--black);
  font-family: 'IBM Plex Mono', monospace;
  padding-bottom: 3vh;
}

.resolutions-app {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 8px 16px 0px 16px;
  min-height: 100vh;
}

.top-nav {
  /* Layout */
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  /* Layout */
  display: flex;
  align-items: center;
}

.logo {
  /* Typography */
  font-family: 'Roboto Serif';
  font-weight: bold;
  font-size: 16px;
  line-height: 1;

  /* Interaction */
  cursor: pointer;
}

.logo-text {
  /* Typography */
  font-weight: 100;
  font-size: 12px;
  line-height: 1;
}

.info-options {
  /* Layout */
  display: flex;
  align-items: center;

  /* Typography */
  font-size: 12px;
}

.info-option {
  /* Layout */
  display: inline-block;
  margin-left: 12px;

  /* Appearance */
  border-bottom: 1px solid var(--black);

  /* Interaction */
  cursor: pointer;
}

.info-option:last-child {
  /* Appearance */
  border-right: none;
  padding-right: 0;
}

.side-bar {
  /* Layout */
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 24vh;
  gap: 12vh;
}

.side-bar-icon {
  /* Layout */
  width: 20px;
  height: 20px;

  /* Interaction */
  cursor: pointer;
}

.app-body {
  /* Layout */
  margin-left: 5vw;
  padding-top: 4vh;
  padding-left: 16vw;
  padding-right: 16vw;
}

.section-title {
  /* Appearance */
  font-family: 'Roboto Serif';
  font-size: 24px;
}

.section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.habits-image-container {
  width: 30vw;
}

.habits-image {
  /* border: 1px solid var(--black); */
  max-width: auto;
}

.habits-image-creation {
  opacity: .9;
  filter: brightness(.25);
}

.habit-box {
  /* border: 1px solid var(--black); */
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 4vw;
}

.quote-box {
  /* border: 1px solid var(--black); */
  /* Layout */
  padding-bottom: 2vh;

  /* Appearance */
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  opacity: 75%;

  border-bottom: 1px solid var(--black);
}

.question-box {
  /* border: 1px solid var(--black); */
  padding-top: 2vh;

  font-size: 16px;
}

.question-section {
  padding-bottom: 3vh;
}

.question-section:last-child {
  padding-bottom: 0vh;
}

.button-nav {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.habits-button {
  /* border: 1px solid var(--black); */
  padding-right: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 768px) {
  .resolutions-app {
    /* top right bottom left */
    padding: 8px 10px 0px 10px;
  }

  .logo {
    font-size: 12px;
  }

  .logo-text {
    font-size: 8px;
  }

  .info-options {
    font-size: 8px;
  }

  .info-option {
    margin-left: 6px;
  }

  .side-bar-icon {
    /* Layout */
    height: 12px;
    width: 12px;

    cursor: pointer;
  }

  .app-body {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .section-title {
    /* Appearance */
    font-size: 20px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .habits-image-container {
    /* Layout */
    width: 100%;
  }

  .habit-box {
    /* Layout */
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .quote-box {
    /* Layout */
    padding-bottom: 1vh;

    /* Appearance */
    font-size: 10px;
  }

  .question-box {
    padding-top: 1vh;

    font-size: 12px;
  }

  .question-section {
    padding-bottom: 1vh;
  }

  .habits-button {
    /* border: 1px solid var(--black); */
    padding-top: 3vh;
    font-size: 12px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}