@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
  --black: #191b15;
  --black-rgb: 25, 27, 21;
  --cream: #e7dfc6;
  --green: #365613;
}

body {
  /* Appearance */
  background-color: var(--cream);
  color: var(--black);
  font-family: 'IBM Plex Mono', monospace;
  padding-bottom: 3vh;
}

.resolutions-app {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 8px 16px 0px 16px;
  min-height: 100vh;
}

.top-nav {
  /* Layout */
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  /* Layout */
  display: flex;
  align-items: center;
}

.logo {
  /* Typography */
  font-family: 'Roboto Serif';
  font-weight: bold;
  font-size: 16px;
  line-height: 1;

  /* Interaction */
  cursor: pointer;
}

.logo-text {
  /* Typography */
  font-weight: 100;
  font-size: 12px;
  line-height: 1;
}

.info-options {
  /* Layout */
  display: flex;
  align-items: center;

  /* Typography */
  font-size: 12px;
}

.info-option {
  /* Layout */
  display: inline-block;
  margin-left: 12px;

  /* Appearance */
  border-bottom: 1px solid var(--black);

  /* Interaction */
  cursor: pointer;
}

.info-option:last-child {
  /* Appearance */
  border-right: none;
  padding-right: 0;
}

.side-bar {
  /* Layout */
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 24vh;
  gap: 12vh;
}

.side-bar-icon {
  /* Layout */
  width: 20px;
  height: 20px;

  /* Interaction */
  cursor: pointer;
}

.app-body {
  /* Layout */
  margin-left: 5vw;
  padding-top: 4vh;
  padding-left: 16vw;
  padding-right: 16vw;
}

.section-title {
  /* Appearance */
  font-family: 'Roboto Serif';
  font-size: 24px;
}

.section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  align-items: stretch;
}

.habits-image-container {
  width: 30vw;
}

.habits-image {
  /* border: 1px solid var(--black); */
}

.habit-box {
  /* border: 1px solid var(--black); */
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 4vw;
}

.quote-box {
  /* border: 1px solid var(--black); */
  /* Layout */
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;

  /* Appearance */
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  opacity: 75%;

  border-bottom: 1px solid var(--black);
}

.habit-content-box {
  /* border: 1px solid var(--black); */
  padding-top: 2vh;

  font-size: 16px;
}

.question-section {
  padding-bottom: 3vh;
}

.question-section:last-child {
  padding-bottom: 0vh;
}

.button-nav {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.habits-button {
  /* border: 1px solid var(--black); */
  padding-bottom: 8px;

  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

/* HabitsCreation */
.habits-image-container-creation {
  width: 30vw;
  position: relative;
}

.habits-image-creation {
  opacity: 0.9;
  filter: brightness(0.1);
}

.suggestions-box {
  /* Layout */
  position: absolute;
  top: 0px;
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 6%;
  z-index: 2;

  /* Appearance */
  color: var(--cream);
}

.suggestions-title {
  /* Layout */
  margin-bottom: 16px;

  /* Typography */
  font-family: 'Roboto Serif';
  font-size: 24px;
  font-weight: bold;
}

.suggestions-subtitle {
  /* Typography */
  font-size: 14px;
  line-height: 4;
  font-weight: 600;
}

.suggestions-list {
  font-size: 14px;
}

.habit-prompt {
  margin-bottom: 5px;

  font-weight: bold;
}

.habit-input {
  /* border: 1px solid var(--black); */
  width: 100%;
  padding: 8px;
  resize: none;
  margin-bottom: 1vh;

  background-color: transparent;
  border: 1px solid rgba(var(--black-rgb), 0.8);
  border-radius: 8px;
  font-size: 12px;
}

.habit-input::placeholder {
  color: rgba(var(--black-rgb), 0.5);
}

.habit-days-input {
  width: 50px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 3vh;

  background-color: transparent;
  border-bottom: 1px solid rgba(var(--black-rgb), 0.8);
  text-align: center;
}

.habit-days-input::placeholder {
  color: rgba(var(--black-rgb), 0.5);
}

/* HABITS VIEW MODULE */
.habits-view {
  /* Layout */
  aspect-ratio: 59 / 90;

  /* border: 1px solid var(--black); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
}

.habits-view-container {
  /* Appearance */
  height: 85%;
  border: 4px solid var(--black);
  border-radius: 8px;
}

.habits-view-new-habit-button {
  height: 75px;
  width: 100%;

  background-color: var(--green);
  color: var(--cream);
  font-weight: bold;
  border-radius: 8px;
}

/* Mobile */
@media (max-width: 768px) {
  .resolutions-app {
    /* top right bottom left */
    padding: 8px 10px 0px 10px;
  }

  .logo {
    font-size: 12px;
  }

  .logo-text {
    font-size: 8px;
  }

  .info-options {
    font-size: 8px;
  }

  .info-option {
    margin-left: 6px;
  }

  .side-bar-icon {
    /* Layout */
    height: 12px;
    width: 12px;

    cursor: pointer;
  }

  .app-body {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .section-title {
    /* Appearance */
    font-size: 20px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .habits-image-container {
    /* Layout */
    width: 100%;
  }

  .suggestions-title {
    /* Typography */
    font-size: 18px;
  }

  .suggestions-subtitle {
    /* Typography */
    font-size: 10px;
    font-weight: bold;
  }

  .suggestions-list {
    /* Typography */
    font-size: 10px;
  }

  .habits-image-container-creation {
    width: 100%;
  }

  .habit-box {
    /* Layout */
    padding-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .quote-box {
    /* Layout */
    padding-bottom: 1vh;

    /* Appearance */
    font-size: 10px;
  }

  .question-box {
    padding-top: 1vh;

    font-size: 12px;
  }

  .question-section {
    padding-bottom: 1vh;
    font-size: 14px;
  }

  .habit-content-box {
    /* border: 1px solid var(--black); */
    padding-top: 2vh;

    font-size: 14px;
  }

  .habits-button {
    /* border: 1px solid var(--black); */
    padding-top: 3vh;
    font-size: 14px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  /* HABITS VIEW MODULE */
  .habits-view {
    height: 450px;
    width: 100%;
  }

  .habits-view-container {
    height: 85%;
  }

  .habits-view-new-habit-button {
    height: 60px;
    font-size: 14px;
  }
}
