@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
  --black: #191b15;
  --black-rgb: 25, 27, 21;
  --cream: #e7dfc6;
  --green: #365613;
  --red: #933a3a;
}

body {
  /* Appearance */
  background-color: var(--cream);
  color: var(--black);
  font-family: 'IBM Plex Mono', monospace;
  padding-bottom: 3vh;
}

.resolutions-app {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 8px 16px 0px 16px;
  min-height: 100vh;
}

.top-nav {
  /* Layout */
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  /* Layout */
  display: flex;
  align-items: center;
}

.logo {
  /* Typography */
  font-family: 'Roboto Serif';
  font-weight: bold;
  font-size: 16px;
  line-height: 1;

  /* Interaction */
  cursor: pointer;
}

.logo-text {
  /* Typography */
  font-weight: 100;
  font-size: 12px;
  line-height: 1;
}

.info-options {
  /* Layout */
  display: flex;
  align-items: center;

  /* Typography */
  font-size: 12px;
}

.info-option {
  /* Layout */
  display: inline-block;
  margin-left: 12px;

  /* Appearance */
  border-bottom: 1px solid var(--black);

  /* Interaction */
  cursor: pointer;
}

.info-option:last-child {
  /* Appearance */
  border-right: none;
  padding-right: 0;
}

.side-bar {
  /* Layout */
  position: fixed;
  display: flex;
  flex-direction: column;
  /* padding-top: 10vh; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 6vh;
}

.side-bar-icon {
  /* Layout */
  width: 24px;
  height: 24px;

  /* Interaction */
  cursor: pointer;
}

.app-body {
  /* border: 1px solid var(--black); */
  /* Layout */
  padding-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  width: 775px;
}

.section {
  display: grid;
  grid-template-columns: 0.52fr 0.48fr;
  margin-bottom: 5vh;
  margin-top: 5px;
}

.section-title {
  grid-column: 1 / -1;

  /* Appearance */
  font-family: 'Roboto Serif';
  font-size: 24px;
  line-height: 1.2;
}

.section-explanation {
  grid-column: 1 / -1;
  width: 100%;
  padding-bottom: 3px;
  margin-bottom: 15px;

  font-size: 12px;
  /* border-bottom: 1px solid var(--black); */
}

.habits-image-container {
}

.habit-box {
  /* border: 1px solid var(--black); */
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  min-width: 0;
}

.quote-box {
  /* border: 1px solid var(--black); */
  /* Layout */
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;

  /* Appearance */
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  opacity: 75%;

  border-bottom: 1px solid var(--black);
}

.habit-content-box {
  /* border: 1px solid var(--black); */
  padding-top: 20px;

  font-size: 16px;
}

.question-section {
  padding-bottom: 2vh;
}

.question-section:last-child {
  padding-bottom: 0vh;
}

.button-nav {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.habits-button {
  /* border: 1px solid var(--black); */
  padding-bottom: 8px;

  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

/* HabitsCreation */
.habits-image-container-creation {
  position: relative;
}

.habits-image-creation {
  opacity: 0.9;
  filter: brightness(0.1);
}

.suggestions-box {
  /* Layout */
  position: absolute;
  top: 0px;
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 6%;
  z-index: 2;

  /* Appearance */
  color: var(--cream);
}

.suggestions-title {
  /* Layout */
  margin-bottom: 16px;

  /* Typography */
  font-family: 'Roboto Serif';
  font-size: 24px;
  font-weight: bold;
}

.suggestions-subtitle {
  /* Typography */
  font-size: 14px;
  line-height: 4;
  font-weight: 600;
}

.suggestions-list {
  font-size: 14px;
}

.habit-prompt {
  margin-bottom: 5px;

  font-weight: bold;
}

.habit-input {
  /* border: 1px solid var(--black); */
  width: 100%;
  padding: 8px;
  resize: none;
  margin-bottom: 10px;

  background-color: transparent;
  border: 1px solid rgba(var(--black-rgb), 0.8);
  border-radius: 8px;
  font-size: 12px;
}

.habit-input::placeholder {
  color: rgba(var(--black-rgb), 0.5);
}

.habit-days-input {
  width: 40px;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 16px;

  background-color: transparent;
  border-bottom: 1px solid rgba(var(--black-rgb), 0.8);
  text-align: center;
}

.habit-days-input::placeholder {
  color: rgba(var(--black-rgb), 0.5);
}

/* HABITS VIEW MODULE */
.habits-view {
  overflow: scroll;

  /* Layout */
  aspect-ratio: 590 / 903;

  /* border: 1px solid var(--black); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.habits-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Appearance */
  height: 85%;
  border: 4px solid var(--black);
  border-radius: 8px;
  overflow: scroll;
}

.date-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 64px;

  padding-top: 15px;
  padding-bottom: 15px;
}

.date-selector-arrow {
  height: 20px;

  cursor: pointer;
}

.date-selector-inputs {
  /* border: 1px solid var(--black); */
  font-weight: bold;
}

.date-selector-input {
  background-color: transparent;
  text-align: center;
  text-decoration: underline 2px solid var(--black);
}

.day-month-len {
  width: 2ch;
}

.year-len {
  width: 4ch;
}

.habit-container {
  height: 75px;
  width: 90%;
  margin-bottom: 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;

  padding-left: 4%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 3px solid rgba(var(--black-rgb), 1);
  border-radius: 8px;
  background-color: #f6eed5;
  font-size: 14px;
  opacity: 60%;

  cursor: pointer;
}

.container-focused {
  opacity: 100%;
}

.habit-snippet-box {
  min-width: 0;
  width: 60%;
}

.habit-snippet-prompt {
  font-weight: bold;
}

.habit-snippet-statement {
  /* border: 1px solid var(--black); */
  font-size: 14px;
  line-height: 1.2;

  overflow: hidden;
  text-overflow: ellipsis;
}

.habit-health-box {
}

.habit-health-percentage {
  /* border: 1px solid var(--black); */
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;

  color: color-mix(in srgb, var(--green) 33%, var(--red) 67%);
}

.habit-completion-icon {
  height: 40%;
  align-self: center;

  filter: saturate(3);

  cursor: pointer;
}

.habits-view-new-habit-button {
  height: 75px;
  width: 100%;

  background-color: var(--green);
  color: var(--cream);
  font-weight: bold;
  border-radius: 8px;
}

.button-disabled {
  opacity: 0.2;
}

/* CALENDAR MODULE */
.calendar {
  padding-top: 5px;
}

.habit-calendar-box {
  grid-column: 1 / -1;
}

.habit-calendar {
  padding-bottom: 3px;
}

.calendar-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding-top: 3px;
}

.calendar-title-arrow {
  height: 16px;
  cursor: pointer;
}

.calendar-title-text {
  /* border: 1px solid var(--black); */
  font-size: 14px;
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 4ch repeat(31, 1fr);
  gap: 4px;

  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}

.calendar-header {
  display: contents;
}

.calendar-header-year {
  grid-column: 1;

  font-weight: bold;
  font-size: 12px;
}

.calendar-header-day {
  /* automatically fills columns 2-32 */
  font-size: 12px;
  justify-self: center;
}

.calendar-month {
  display: contents;
}

.calendar-month-title {
  grid-column: 1;
  font-size: 12px;
}

.calendar-month-days {
}

.calendar-day {
  height: 75%;
  aspect-ratio: 1 / 1;
  align-self: center;
  justify-self: center;

  border: 1px solid var(--black);
  border-radius: 1px;

  cursor: pointer;
  transition: background-color 0.2s;
}

.calendar-day.filled {
  background-color: var(--green);
  border: 0px;
}

/* REWARD MODEUL SECTION ------------------------------------- */
.reward-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Appearance */
  border: 4px solid var(--black);
  border-radius: 8px;
  margin-left: 24px;

  padding-top: 5%;
  padding-left: 6%;
  padding-right: 6%;
}

.balance-box {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 20px;
  font-weight: 600;
}

.balance-amount-box {
  color: var(--green);
}

.balance-amount {
  /* border: 1px solid var(--black); */
  text-decoration: underline;

  background-color: transparent;
  text-align: right;

  overflow: hidden;
  text-overflow: ellipsis;
}

.multiplier-amount {
  width: 1ch;
  background-color: transparent;
  text-align: right;
}

.item-box {
  /* border: 1px solid var(--black); */
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-top: 12%;
  margin-bottom: 10%;
}

.item-box-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 14px;
}

.item-input {
  /* border: 1px solid var(--black); */

  background-color: transparent;
  text-align: right;

  text-decoration: underline;
}

.item-input::placeholder {
  color: rgba(var(--black-rgb), 0.5);
}

.reward-button {
  height: 75px;
  width: 100%;

  margin-bottom: 10px;

  background-color: var(--green);
  color: var(--cream);

  font-weight: bold;
  border-radius: 8px;
}

/* AFFIRMATION SECTION ------------------------------------- */
.affirmation-controller-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Appearance */
  border: 4px solid var(--black);
  border-radius: 8px;
  margin-left: 24px;

  padding-top: 18%;
  padding-left: 10%;
  padding-right: 10%;
}

.wave-box {
  /* border: 1px solid var(--black); */
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave-box img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave-vector-no-recording {
  filter: saturate(0);
}

.affirmation-icon-box {
  /* border: 1px solid var(--black); */
  margin-top: 20px;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 5px;

  cursor: pointer;
}

.affirmation-icon-box > div {
  /* border: 1px solid var(--black); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.affirmation-icon-label {
  /* border: 1px solid var(--black); */
  margin-top: 5px;

  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.affirmation-icon-box img {
  height: 32px;
}

.affirmation-volume-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  margin-top: 30px;
}

.affirmation-volume-label {
  font-size: 14px;
  font-weight: 600;
  align-self: self-start;

  margin-bottom: 5px;
}

.affirmation-volume-box input[type='range'] {
  width: 100%;
  height: 2px;
  background: var(--black);
  cursor: pointer;

  margin-bottom: 15px;
}

.affirmation-volume-box input[type='range']::-webkit-slider-thumb {
  width: 2px;
  height: 14px;
  background: var(--black);
  cursor: pointer;
}

.affirmation-volume-box input[type='range']::-moz-range-thumb {
  width: 2px;
  height: 14px;
  background: var(--black);
  cursor: pointer;
  border: none;
}

/* DEBUG EXERCISES SECTION ------------------------------------- */
.debug {
}

.exercise-list-box {
  /* border: 1px solid var(--black); */
  grid-column: 1 / -1;

  line-height: 2;
}

.exercise-list-box p {
  font-size: 12px;
  line-height: 1.2;
}
