.gameExample {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.exampleText {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 12pt;
    font-weight: 500;
}

.helpModalText {
    width: 64%;
    min-width: 300px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
}

.pointList {
    width: 95%;
    min-width: 300px;
    padding-left: 12%;
    margin-bottom: 8%;
}

li {
    display: list-item;
    list-style-type: disc;
 }

/* .bulletPoint {
    display: list-item;
    list-style-position: circle;
} */