.scoreText {
  width: 78%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 18pt;
  font-weight: 400;
}

.successBox {
  display: flex;
  justify-content: center;
  gap: 6%;
}
.pusheenBox {
  /* object-fit: contain; */
  /* width: 70%; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.pusheenImg {
  width: 90%;
}

.buttonBox {
  margin-top: 8%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.linkButton {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 11pt;
  font-weight: 500;
}

.shareButton {
  border-color: #2a9d8f;
  background-color: #2a9d8f;
}

.websiteButton {
  border-color: #0096c7;
  background-color: #0096c7;
}
